$themes: (
  light: (
    bodyBackgroundColor: #f8f8fa,
    headerFooterBackground: #fff,
    textColor: #000,
    toggleBackground: #dfe4ea,
  ),
  dark: (
    bodyBackgroundColor: #222736,
    headerFooterBackground: #36394c,
    textColor: #eff2f7,
    toggleBackground: #606071,
  ),
);